#kk{
    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
    border:solid;
   
    border-top-width:10px;
    border-left-width:10px;
   
    border-top-color: blue;
    border-left-color: red;
    border-right-color:yellow;
    border-bottom-color:green;
}